<h2>
    <%= link_to 'Categories', root_path %>/
    <% @category.title %>/
    products
</h2>

<ol>
    <% @products.each do |product| %>
        <li>
            <%= product.title %> (<%=  product.price %>)

            <ul>
                <% product.variants.each do |variant| %>
                    <li>
                        <%= variant.title %> (<%=  variant.price %>)
                    </li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ol>